@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3e5d7;

  --color-rose-50: #fff7fb;
  --color-rose-800: #7a284e;

  --color-stone-100: #f3e5d7;
  --color-stone-150: #e3ddd7;
  --color-stone-600: #5f564d;
  --color-stone-900: #312e2c;

  --color-brown-800: #854632;

  --color-white: #ffffff;

  --height-recipe-image: 171px;
}

@media (min-width: 768px) {
  :root {
    --height-recipe-image: 300px;
  }
}

html,
body {
  height: 100%;
  min-height: 100dvh;
  min-height: 100vh;
}

body {
  background: var(--background);
}

@layer utilities {
  tr:first-child td {
    @apply pt-0;
  }

  tr:last-child td {
    @apply pb-0;
  }
}
